.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #dee2e6;
}

.dashboard-header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.dashboard-header .header-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


main {
  padding: 2rem;
}

.add-secret-btn, .logout-btn {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-secret-btn:hover {
  background-color: #0056b3;
}

.user-email{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}